.Projects{
    padding: 50px 20px;
    position: relative;
}
.Projects h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.Projects h1 span{
    color: rgba(0, 198, 198, 1);
    text-shadow: 0 0 3px rgba(0, 198, 198, 1);
}

.Projects .desc1{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 198, 198, 1);
    text-align: center;
}
.Projects .desc1 span{
    color: rgba(0, 198, 198, 1);
    text-shadow: 0 0 2px rgba(0, 198, 198, 1);
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin: 20px;
    color: #fff;
}
.project-img{
    overflow: hidden;
}
.project-img img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    transition: all 0.3s ease-in-out
}
.project-card:hover .project-img img{
    transform: scale(1.1);
}
.project-card{
    overflow: hidden;
    height: auto;
    padding: 10px;
    background-color: rgba(0, 198, 198, 0.221);
    border-radius: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    animation: float 4s ease-in-out infinite;
}
@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
.project-card h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.project-card .desc{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
}
.tags-con{
    padding: 20px;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.tags span{
    padding: 5px 10px;
    border-radius: 10px;
    color: rgb(0, 198, 198);
    font-weight:600;
    border: 1px solid rgba(0, 198, 198, 1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btns-con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.btns-con a{
    background-color: rgba(0, 198, 198, 0.313);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.btns-con a:hover{
    background-color: rgba(0, 198, 198, 1);
    color: #fff;
}
.github-link-con{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.github-link{
    background-color: rgba(0, 198, 198, 0.313);
    padding: 10px 20px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.github-link:hover{
    background-color: rgba(0, 198, 198, 1);
    color: #fff;
}


