#root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  background-color: #280069;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  /* max-width: 500px; */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  padding: 25px;
}
.container hr{
  width: 100%;
}
.container label{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.container input{
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  font-size:larger;
}

.container p{
  color: #000;
  font-size: 20px;
  font-weight: bold;
  background-color: yellow;
  padding: 10px;
}
.select{
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000;
  font-size: large;
}
.select option{
  background-color: #9567ff93;
}
.check{
  width: 30px;
  height: 30px;
  accent-color: rgb(0, 255, 0);
}
.btn{
  padding:10px 12px; 
  background-color:teal; 
  color:#fff;
  border:teal solid 1px;
  margin: 10px;
  box-shadow: 0 5px 7px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover{
  background-color: rgb(0, 92, 92);
  color: #ffffff;
}

@media(max-width: 768px){
  .container{
    width: 100%;
    height: 100%;
  }
  .container h1{
    font-size: 30px;
    text-align: center;
  }
  .container p{
    font-size: 20px;
  }
  .container label{
    font-size: 15px;
  }
  .container input{
    font-size: 15px;
    width: 80%;
    
  }
  .container select{
    font-size: 15px;
    width: 80%;
  }
}