.Home{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    padding: 25px;
}

.text h1 span{
    color: rgba(0, 198, 198, 1);
    text-shadow: 0 0 3px rgba(0, 198, 198, 1);
}

.typing{
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typeing 2s forwards infinite;
}

.text h2{
    font-size: 30px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 25px;
}
.text h3 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px rgba(0, 198, 198, 1);
    font-size: 20px;
}

.profile{
    width: 400px;
    height: auto;
    border-radius: 16%;
    box-shadow: 0 0 10px rgba(0, 198, 198, 1);
    transition: box-shadow 0.3s ease-in-out;
    
}
.profile:hover{
    box-shadow: 0 0 20px rgba(0, 198, 198, 1);
}

a{
    text-decoration: none;
}


.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.github{
    /* width: 50px; */
    color: rgba(0, 198, 198, 1);;
    height: 110%;
    background: none;
    border:2px solid rgba(0, 198, 198, 1);
    padding: 10px;  
    font-size: 20px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    
}
.github:hover{
    box-shadow: 0 0 20px rgba(0, 198, 198, 1);
    transform: scale(1.1);
    background-color: rgba(0, 198, 198, 1);
    color: #fff;
}

.insta{
    color: rgba(0, 198, 198, 1);
    border-radius: 50%;
    height: 110%;
    padding: 10px;
    font-size: 20px;
    border:2px solid rgba(0, 198, 198, 1);
    transition: all 0.3s ease-in-out;
    
}
.insta:hover{
    box-shadow: 0 0 20px rgba(0, 198, 198, 1);
    background-color: rgba(0, 198, 198, 1);
    color: #fff;
    transform: scale(1.1);
}

.email{
    color: rgba(0, 198, 198, 1);
    border-radius: 50%;
    height: 110%;
    padding: 10px;
    font-size: 20px;
    border:2px solid rgba(0, 198, 198, 1);
    transition: all 0.3s ease-in-out;
    
}
.email:hover{
    box-shadow: 0 0 20px rgba(0, 198, 198, 1);
    background-color: rgba(0, 198, 198, 1);
    color: #fff;
    transform: scale(1.1);
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.Contact-btn{
    color: rgba(0, 198, 198, 1);
    border-radius: 10px;
    height: 110%;
    background: none;
    width: 200px;
    padding: 10px;
    font-weight:500;
    font-size: 22px;
    border:2px solid rgba(0, 198, 198, 1);
    transition: all 0.3s ease-in-out;
    
}
.Contact-btn:hover{
    box-shadow: 0 0 20px rgba(0, 198, 198, 1);
    background-color: rgba(0, 198, 198, 1);
    color: #fff;
    border: none;
    transform: scale(1.1);
}




