.header{
    color: rgba(255,255,255,1);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 15px;
}

.header h1{
    font-size: 45px;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom: 10px;
}
.header h1 span{
    color: rgba(0, 198, 198, 1);
    text-shadow: 0 0 3px rgba(0, 198, 198, 1);
}
.header nav{
    display: flex;
    gap: 20px;
    padding-right: 15px;
    padding-right: 15px;
    align-items: center;
    margin: 20px;
}
.header nav a{
    text-decoration: none;
    color: rgba(255,255,255,1);
    transition: all 0.3s ease-in-out;
}
.header nav a:hover{
    color: rgba(0, 198, 198, 1);
}
.active-link{
    background-color: rgba(0, 198, 198, 0.3);
    color: rgba(0, 198, 198, 1);
    padding: 8px 16px;
    border-radius: 5px;
    border-bottom: 3px solid rgba(0, 198, 198, 1);
}
