.loading-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #0f172a, #1e293b);
    color: #fff;
}
.loading-page h2{
    font-size: 26px;
    margin-bottom: 20px;
}
.spinner{
    width: 60px;
    height: 60px;
    border: 6px solid #00c9ff;
    border-top: 6px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
