.ALtermithi {
    font-family: 'Segoe UI', serif;
    line-height: 1.6;
    color: #333;
    padding: 15px;
    background-color: #5bffff61;
    border-radius: 15px;
}
.grade{
    font-size: 18px;
    margin: 10px 0;
    background-color: #3affef73;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    color: #000;
}
.matn{
    font-size: 26px;
    margin: 20px 0;
    color: #000;
    background-color: #0000ff1d;
    padding: 15px;
    border-radius: 15px;
}
.narrator{
    font-size: 24px;
    margin: 10px 0;
}
.source{
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
}
.buttons{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
#prev, #next{
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 24px;
    font-size: 20px;
    cursor: pointer;
}


