* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ALtermithi {
    font-family: 'Times New Roman', serif;
    line-height: 1.6;
    color: #333;
    padding: 15px;
    background-color: #5bffff3c;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.grade{
    font-size: 22px;
    margin: 10px 0;
    background-color: #3affef73;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    color: #000;
}
.matn{
    font-size: 26px;
    margin: 20px 0;
    color: #000;
    background-color: #0000ff1d;
    padding: 15px;
    border-radius: 15px;
}
.explane{
    font-size: 22px;
    margin: 15px 0;
    color: #000;
    background-color: #ffff004c;
    padding: 10px;
    border-radius: 10px;
}
.narrator{
    font-size: 24px;
    margin: 10px 0;
}
.source{
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
    color: #000;
    background-color: #ff00001f;
    padding: 10px;
    border-radius: 10px;
}
.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
#prev, #next{
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 24px;
    font-size: 20px;
    cursor: pointer;
}
#prev{
    background-color: #007bff;
}
#next{
    background-color: #28a745;
}


