#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Containers{
  /* background: rgba(255, 255, 255, 0.2); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  
}
.Task{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: auto;
  height: auto;
}
.checkbox input{
  width: 35px;
  height: 35px;
  accent-color: rgba(0, 255, 0, 0.815);
}
.App p {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  background: rgba(255, 255, 0, 0.797);
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
}
.App h1{
  color: teal;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 40px;
}
.Btn{
  padding:20px 20px; 
  background-color:teal; 
  color:#fff;
  border: none;
  margin: 10px;
  box-shadow: 0 5px 7px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.Btn:hover{
  background-color: rgb(0, 92, 92);
  color: #ffffff;
}
.Btn:focus{
  background-color: rgb(0, 92, 92);
  color: #ffffff;
}
.List{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 5px 15px;
  margin: 10px;
  background-color: #cbcbcbff;
  border-radius: 10px;
  color: #000;
  width: 450px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  transition: all 0.3s ease-in-out;
}
.DELBtn{
  color: #fff;
  background-color: rgb(255, 0, 0);
  padding: 5px;
  margin: 10px;
  box-shadow: 0 5px 7px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.DELBtn:hover{
  background-color: rgb(127, 0, 0);
  color: #ffffff;
  transform: scale(1.1);
  border: none;
}
.EditBtn{
  color: #fff;
  background-color: rgb(66, 66, 66);
  padding: 5px;
  margin: 10px;
  box-shadow: 0 5px 7px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.EditBtn:hover{
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 0 5px 7px rgb(0,0,0);
  border: none;
}
.App input::placeholder{
  color: #979696;
  font-size: 17px;
  font-weight: bold;
  padding-top: 10px;
  
}
.App input{
  font-size: large;
}
.App input:focus{
  outline: none;
}
@media (max-width: 768px) {
  .Containers{
    width: 100%;
    height: auto;
  }
  .App h1{
    font-size: 50px;
    text-align: center;
  }
  .List{
    width: auto;
    font-size: 15px;
  }
  .App p{
    font-size: 15px;
  }
  .Btn{
    display: block;
    margin: 10px auto;
  }
  .DELBtn{
    display: block;
    margin-left:40px;
  }
}