#skills{
    padding: 50px 20px;
    position: relative;
}
.skills-container h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}
.container h1 span{
    color: rgba(0, 198, 198, 1);
    text-shadow: 0 0 3px rgba(0, 198, 198, 1);
}
.container{
    margin: 20px;
}
.skills-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    margin: 20px;
    color: #fff;
}
.skill{
    padding: 10px;
    background-color: rgba(0, 198, 198, 0.6);
    border-radius: 10px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: left;
}
.skill-level{
    width: 100%;
    height: 20px;
    background-color: rgba(0, 198, 198, 0.6);
    border-radius: 10px;
    margin-top: 10px;
}
.skill-level-fill{
    height: 100%;
    background-color: rgba(0, 33, 198, 0.406);
    border-radius: 10px;
}

