#skills{
    padding: 100px 20px 50px;
}
.container h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}
.container h1 span{
    color: rgba(0, 198, 198, 1);
    text-shadow: 0 0 3px rgba(0, 198, 198, 1);
}
.container{
    margin: 20px;
}
.skills-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    margin: 20px;
    color: #fff;
}
.skill{
    padding: 10px;
    background-color: rgba(0, 198, 198, 0.509);
    border-radius: 10px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: left;
    animation: float 2s ease-in-out infinite;
    transition: all 0.2s ease-in-out;
}
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
.skill:hover{
    transform: scale(1.05);
    box-shadow: 0 16px 40px rgba(0, 198, 198, 0.2);
    cursor: pointer;
}
.skill-level{
    width: 100%;
    height: 20px;
    background-color: rgba(0, 198, 198, 0.6);
    border-radius: 10px;
    margin-top: 10px;
}
.skill-level-fill{
    height: 100%;
    background-color: rgba(0, 33, 198, 0.406);
    border-radius: 10px;
}
.skill-level-text{
    margin-top: 10px;
    text-align: right;
}

@media (max-width: 1439px){
    .skills-list{
        grid-template-columns: repeat(2, 1fr);
        padding: 40px;
        gap: 20px;
    }
    .container h1{
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }
    .menu-icon{
        font-size: 28px;
        cursor: pointer;
    }
}
@media (max-width: 767px){
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 600px;
    }
    .skills-list{
        grid-template-columns: repeat(1, 1fr);
        padding-top: 200px;
        margin-bottom: 200px;
        gap: 20px;
    }
    .container h1{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
    .menu-icon{
        font-size: 28px;
        cursor: pointer;
    }
}

