#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #a2a2a2,#eadada);

}
.container{
  background-color: #280069cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  padding: 25px;
}
.btns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 10px;
}
button{
  margin: 5px;
}

hr{
  width: 100%;
}

.App2{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, #a2a2a2,#eadada)
}
.App2 h1{
  color: #000;
}
.App2 h2{
  color: #000;

}
#Go{
  background-color: rgba(255, 255, 255, 0.432);
  color: #000;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
#Go:hover{
  background-color: rgba(0, 0, 0, 0.432);
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
}
.Ar{
  font-size: 16px;
  padding: 8px;
  margin: 5px;
  background-color: #ffffff;
  color: #0f0;
  transition: all 0.3s ease-in-out;
}
.Ar:hover{
  background-color: #0f0;
  color: #fff;
  cursor: pointer;
  border: none;
}

.En{
  font-size: 16px;
  padding: 8px;
  margin: 5px;
  background-color: #ffffff;
  color: #f00;
  transition: all 0.3s ease-in-out;
}
.En:hover{
  background-color: #f00;
  color: #fff;
  cursor: pointer;
  border: none;

}

.Fr{
  font-size: 16px;
  padding: 8px;
  margin: 5px;
  background-color: #ffffff;
  color: #0757a7;
  transition: all 0.3s ease-in-out;
}
.Fr:hover{
  background-color: #0757a7;
  color: #fff;
  cursor: pointer;
  border: none;
}

.Ru{
  font-size: 16px;
  padding: 8px;
  margin: 5px;
  background-color: #ffffff;
  color: #800080;
  transition: all 0.3s ease-in-out;
}
.Ru:hover{
  background-color: #800080;
  color: #fff;
  cursor: pointer;
  border: none;
}

.Cn{
  font-size: 16px;
  padding: 8px;
  margin: 5px;
  background-color: #ffffff;
  color: #FF8C00;
  transition: all 0.3s ease-in-out;
}
.Cn:hover{
  background-color: #FF8C00;
  color: #fff;
  cursor: pointer;
  border: none;
}
.Next{
  background-color: #fff;
  color: #4CAF50;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Next:hover{
  background-color: #45a049;
  color: #fff;
}

.Prev{
  background-color: #fff;
  color: #008CBA;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Prev:hover{
  background-color: #007bb5;
  color: #fff;
}

.Tafsir{
  font-size: 18px;
}

@media(max-width:768px){
  .container{
    width: 100%;
    height: auto;
    font-size: 14px;
    padding: 15px;
  }
  .btns{
    flex-direction: column;
  }
  .container button{
    width: 100%;
    margin: 2px 0;
    padding: 5px;
  }
  .container h1{
    font-size: 20px;
    margin:10px 0;
  }
  .container h2{
    font-size: 16px;
    margin: 7px 0;
    padding: 5px;
  }
  
}